<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<style>

  </style>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/header.css">
    <script src="https://gw.alipayobjects.com/os/lib/antv/g6/4.3.4/dist/g6.min.js"></script>
</head>
	
<body>
    <div id="header-ct">
        <div id="header">
            <div id="logo"></div>
            
            <div id="menu-unloged">
                <div id="log-reg">登录/注册</div>
            </div>
            <div id="menu-loged" style="display: none;">
                <span id="username">这是用户名</span>
                <div id="user-detail"></div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="content">
            <div id="scholar-graph">
                <div id="scholar-detail">
                    <div id="detail-title">节点信息</div>
                    <ul id="detail-list">
                        <li>ID：<span class="detail-data">123</span></li>
                        <li>科研兴趣：<span class="detail-data">计算机</span></li>
                        <li>个人主页：<span class="detail-data">www.www.com</span></li>
                    </ul>
                </div>
            </div>
            <div id="data-statistic">
                <div id="sta-title"><img src="./images/小节点图.png"><span>数据概览</span><img src="./images/小节点图2.png" alt=""></div>
                <div id="sta-data-ct">
                    <div>
                        <span class="sta-num">370587</span>
                        <span class="sta-name">总节点数</span>
                    </div>
                    <div>
                        <span class="sta-num">370587</span>
                        <span class="sta-name">总边数</span>
                    </div>
                    <div>
                        <span class="sta-num">370587</span>
                        <span class="sta-name">网络密度</span>
                    </div>
                    <div>
                        <span class="sta-num">370587</span>
                        <span class="sta-name">连通分支数</span>
                    </div>
                </div>
            </div>
            <div id="data-graph">
                <div id="hot-domain"></div>
            </div>
        </div>
       

    </div>
    <div id="footer"></div>

</body>
<script src="JS/background.js"></script>
<!-- <script src="JS/graph.js"></script> -->
<script src="./JS/index.js"></script>

</html>