<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<style>

  </style>
    <link rel="stylesheet" href="css/scholar.css">
    <link rel="stylesheet" href="css/header.css">
<script src="https://gw.alipayobjects.com/os/lib/antv/g6/4.3.4/dist/g6.min.js"></script>
</head>
	
<body>
    <div id="header-ct">
        <div id="header">
            <div id="logo"></div>
            <div id="search-ct">
                <input type="text" id="search" placeholder="输入您要查询的学者ID">
                <div id="search-btn" title="输入您要查询的学者ID"><img src="images/search.png"></div>
            </div>
            <div id="menu-loged">
                <span id="username">这是用户名</span>
                <div id="user-detail"></div>
            </div>
        </div>
    </div>
    <div>
        
    </div>


</body>

<!-- <script src="JS/graph.js"></script> -->

</html>